[Unit]
Description=Video stream for the robot
After=PullAndSetup.service

[Service]
Type=simple
WorkingDirectory=/home/pi/lunar_robot/Pi/
ExecStart= /usr/bin/python3 /home/pi/lunar_robot/Pi/Service/VideoStream.py > /home/pi/desktop/logs/HorntailVideo.log 2>&1

[Install]
WantedBy=multi-user.target
