[Unit]
Description=Service to run the main Flask server python script
After=PullAndSetup.service

[Service]
Type=simple
WorkingDirectory=/home/lunar_robot/Pi/
ExecStart= /usr/bin/python3 /home/lunar_robot/Pi/Service/Main.py > /home/lunar_robot/logs/HorntailMain.log 2>&1

[Install]
WantedBy=multi-user.target
