<!doctype html>
<html>
    <head>
        <title>The Woodwasp - Control Interface</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='gamepad.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>
    <body><center>
        <h1>The Woodwasp</h1>
        <h2>Bio-Inspired ISRU Lunar Rover</h2>
        <img src="//{{ host }}:5001/stream.mjpg" width="960" height="720">
        <h4 id="time">Time: {{ time }}</h4>
        <label for="rpm">RPM</label><input type="number" id="rpm" value="5" step="0.1" min="1" max="34">
        <h3>Ultrasonic Range Finders</h3>
        <h3>Front Left</h3>
        <h4 id="fl_val">Current value: ???</h4>
        <label for="fl_target">Boundary value: </label><input tpye="number" id="fl_target" value="200" step="10" min="10" max="20000">
        <h3>Front Right</h3>
        <h4 id="fr_val">Current value: ???</h4>
        <label for="fr_target">Boundary value: </label><input tpye="number" id="fr_target" value="200" step="10" min="10" max="20000">
        <h3>Back Left</h3>
        <h4 id="bl_val">Current value: ???</h4>
        <label for="bl_target">Boundary value: </label><input tpye="number" id="bl_target" value="200" step="10" min="10" max="20000">
        <h3>Back Right</h3>
        <h4 id="br_val">Current value: ???</h4>
        <label for="br_target">Boundary value: </label><input tpye="number" id="br_target" value="200" step="10" min="10" max="20000">
    </center></body>
</html>