<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
	</head>
	<body><center>
		<h1>The Woodwasp</h1>
		<h2>Bio-Inspired ISRU Lunar Rover</h2>
		<img src="//80.5.35.122:8000/stream.mjpg" width="1280" height="960">
		<h4 id="time">Time: {{ time }}</h4>
		<div id="keylog"></div>
	</center></body>
</html>